:root {
    --color-bittersweet: hsl(4, 100%, 67%);
    --color-orange: #ff6a3a;
    --color-bright-pink: #ff527b;
  
    --color-dark-slate-grey: hsl(234, 29%, 20%);
    --color-charcoal-grey: hsl(235, 18%, 26%);
    --color-grey: hsl(231, 7%, 60%);
    --color-white: hsl(0, 0%, 100%);
  }


body{
    background-color: var(--color-dark-slate-grey);
}


h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: hsl(234, 29%, 20%);
    
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(234, 29%, 20%);
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    height: 55px;
    margin-top: 20px;
    color: var(--color-white);
    background-color: var(--color-dark-slate-grey);
    color: var(--color-white);
    border-radius: 5px;
    border: 0px;

}

button:hover{
    cursor: pointer;
    background-image: linear-gradient(
      to bottom,
      var(--color-orange),
      var(--color-bright-pink)
    );
  }

.mainpart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0px 50px;
    background-color: var(--color-white);
    border-radius: 5%;
    height: 500px;
    width: 400px;
}


.attribution { 
    font-size: 15px; 
    text-align: center; 
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 30px;
    left: 0;
    bottom: 0;
    color: var(--color-white);

}
.attribution a { 
    color: var(--color-orange);
}

@media (max-width: 375px) {
    body{
        background-color: var(--color-white);
    }

    .mainpart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 0px;
        margin-top: 40px;
        background-color: var(--color-white);
        border-radius: 0%;
        height: fit-content;
        width: fit-content;
    }
    
    
    button {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        height: 55px;
        margin-top: 50px;
        color: var(--color-white);
        background-color: var(--color-dark-slate-grey);
        border-radius: 5px;
        border: 0px;
    
    }
    
    .attribution{
        color: var(--color-dark-slate-grey);
        margin: 10px;
        font-size: 12px;
    }
}